---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";

import bg from "../images/coldplay.jpg";

import top1 from "../images/us/top1.png";
import top2 from "../images/us/top2.png";
import top3 from "../images/us/top3.png";
import top4 from "../images/us/top4.png";

const title = "Sol Naciente | Nosotros";
const descr = "...";
---

<Layout {title} {descr}>
	<section class="hero rel">
		<div class="two">
			<div class="rel">
				<Image width={bg.width/2} densities={[1,2]} src={bg} alt="Chefs" format="avif" quality="50"/>
				<div class="color abs"></div>
			</div>
			<div class="fcol text">
				<h1>¿Quiénes Somos?</h1>
				<p>Ofrecemos servicios de catering de alta calidad, adaptados a las necesidades específicas de las minas.</p> 
				<p>Desde almuerzos nutritivos para trabajadores hasta eventos especiales para ejecutivos, nos esforzamos 
					por brindar una experiencia gastronómica excepcional en entornos desafiantes.</p>
			</div>
		</div>
		<svg class="deco abs do" width="1240" height="40" viewBox="0 0 1240 40" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0C186.083 25.577 396.792 40 620 40C843.208 40 1053.92 25.577 1240 0H0Z" fill="white"/>
		</svg>
		<svg class="deco abs mo" width="1240" height="80" viewBox="0 0 1240 80" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0C186.083 51.154 396.792 80 620 80C843.208 80 1053.92 51.154 1240 0H0Z" fill="white"/>
		</svg>
	</section>
	<section class="valores fcc">
		<div class="fcol fc">
			<svg width="414" height="350" viewBox="0 0 414 350" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M3.6001 244H409.6" stroke="white" stroke-width="7" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M74.8003 218.4C75.1003 210.4 77.4003 176.8 104.6 149.1C135.4 117.8 174.6 118 181.2 118.1C188.8 118.3 224.8 119.9 253.6 149.5C280.8 177.4 282.8 210.9 283 218.8C280.4 226.7 277.8 234.5 275.3 242.4" stroke="white" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M54.3003 220.7H304.5" stroke="white" stroke-width="7" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M74.8003 218.4C76.1003 224.9 78.3003 235.2 79.6003 241.7" stroke="white" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M179.4 118.6C190.335 118.6 199.2 109.735 199.2 98.8C199.2 87.8647 190.335 79 179.4 79C168.465 79 159.6 87.8647 159.6 98.8C159.6 109.735 168.465 118.6 179.4 118.6Z" stroke="white" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M355.5 242.4C355.5 242.4 356.3 171.9 355.5 138.8C354.7 105.7 327.6 103.1 327.6 103.1L321.8 30.7H288.1L281.1 103.1C281.1 103.1 259.8 107.4 256.3 121.7C252.8 136 253 147.6 253 147.6" stroke="white" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M332.6 159.2V241.7" stroke="white" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M293.9 30.7V3.59998H317.9V30.7" stroke="white" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M103.8 200.2C106.8 192.6 112.8 180.2 124.7 168.5C140.6 152.8 158.1 147.1 166.5 144.9" stroke="white" stroke-width="7" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M145.7 244.3C164.4 258.7 185.5 270.8 197.9 276.8C216.9 286.1 225.1 287.2 232.7 284.9C244.6 281.3 251.6 270.5 253.2 267.9C258.6 259.5 259.8 251.4 260.2 247" stroke="white" stroke-width="7" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M282.3 247C277.1 265.9 273.3 286.6 271.8 308.9C271.5 313.6 272.4 318.4 274.2 322.7C277.5 330.3 280.8 338 284.1 345.6L208.2 346.4C207.6 342 207 337.6 206.4 333.2C205.1 323.8 199.4 315.5 191.1 310.9C182.8 306.3 172.7 300.8 163.5 295.7C154.3 290.6 154.5 288.9 151.7 284C144.6 271.3 137.5 258.6 130.4 245.9" stroke="white" stroke-width="7" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M234.6 25.9C224 27.5 222.7 28.8 221.1 39.4C219.5 28.8 218.2 27.5 207.6 25.9C218.2 24.3 219.5 23 221.1 12.4C222.7 23 224 24.3 234.6 25.9Z" fill="white"/>
				<path d="M115.3 93.2C104.7 94.8 103.4 96.1 101.8 106.7C100.2 96.1 98.9003 94.8 88.3003 93.2C98.9003 91.6 100.2 90.3 101.8 79.7C103.4 90.3 104.7 91.6 115.3 93.2Z" fill="white"/>
			</svg>
			<h3>CALIDAD</h3>
		</div>
		<div class="fcol fc">
			<svg width="377" height="272" viewBox="0 0 377 272" stroke="white" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M30.7999 220C30.2791 134.079 88.9997 64.4 189.5 64.4C290 64.4 344.3 141.5 344.3 219.5C239.8 219.7 135.3 219.8 30.7999 220Z"  stroke-width="7" stroke-miterlimit="10"/>
				<path d="M0.100098 240.7H376.8"  stroke-width="7" stroke-miterlimit="10"/>
				<path d="M27.2002 240.7L35.0002 268.3H337.6L346.4 240.7"  stroke-width="7" stroke-miterlimit="10"/>
				<path d="M138.5 192.5C129 151.5 97.5 148 73 157.6C73.8566 190.152 110.964 210.157 138.5 192.5ZM138.5 192.5L103 173.5"  stroke-width="7" stroke-miterlimit="10"/>
				<path d="M240 192.5C249.5 151.5 281 148 305.5 157.6C304.643 190.152 267.536 210.157 240 192.5ZM240 192.5L275.5 173.5"  stroke-width="7" stroke-miterlimit="10"/>
				<path d="M186.901 109.3C186.901 109.3 214.5 84 233.601 105.2C253.48 127.264 225.301 157.1 186.901 193.1C148.601 157.1 124.149 123.665 140.201 105.2C159.5 83 186.701 109.3 186.701 109.3H186.901Z"  stroke-width="7" stroke-miterlimit="10"/>
				<path d="M187.3 64.5C204.145 64.5 217.8 50.8447 217.8 34C217.8 17.1553 204.145 3.5 187.3 3.5C170.456 3.5 156.8 17.1553 156.8 34C156.8 50.8447 170.456 64.5 187.3 64.5Z"  stroke-width="7" stroke-miterlimit="10"/>
				<path d="M187.4 46.8C194.524 46.8 200.3 41.0245 200.3 33.9C200.3 26.7755 194.524 21 187.4 21C180.276 21 174.5 26.7755 174.5 33.9C174.5 41.0245 180.276 46.8 187.4 46.8Z"  stroke-width="7" stroke-miterlimit="10"/>
			</svg>
			<h3>ADAPTABLE</h3>
		</div>
		<div class="fcol fc">
			<svg width="380" height="278" viewBox="0 0 380 278" stroke="white" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M178.2 274.4C246.076 274.4 301.1 219.376 301.1 151.5C301.1 83.6242 246.076 28.6 178.2 28.6C110.324 28.6 55.2998 83.6242 55.2998 151.5C55.2998 219.376 110.324 274.4 178.2 274.4Z" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M249.3 149.4C249.3 188.811 219.22 222.6 178.7 222.6C139.7 222.6 108.1 191 108.1 152C108.1 113 139.7 81.4 178.7 81.4" stroke-width="7" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M198.6 84.2C211.7 88 223.3 95.6 232 105.6" stroke-width="7" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M72.3001 89.2V41.1H4.6001V125.2C4.6001 129.7 5.8001 134 8.1001 137.8C12.7001 145.4 22.2001 156.5 37.5001 156.3C39.1001 156.3 49.8001 156.3 55.8001 147.6" stroke-width="8" stroke-miterlimit="10"/>
				<path d="M37.4004 158.4V245.9" stroke-width="8" stroke-miterlimit="10"/>
				<path d="M8.7998 245.9H66.3998" stroke-width="8" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M178.2 25.2L178.3 3.60001H325.5L375.8 52V245.9H258" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M303 5.5L304.5 243" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M303.8 45.5L375.8 108.5" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M303.8 105L375.8 163.4" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M304.4 158.4L375.8 222.7" stroke-width="7" stroke-miterlimit="10"/>
			</svg>
			<h3>SEGURO</h3>
		</div>
		<div class="fcol fc">
			<svg width="373" height="321" stroke="white" viewBox="0 0 373 321" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M187.5 44.5C187.5 44.5 270.2 -37.1 338.1 31.4C425.4 119.5 311 199.9 186.6 316.8H186.5C62.1 199.9 -52.3 119.5 35 31.4C102.9 -37.1 186.5 44.5 186.5 44.5L187.5 44.5Z" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M134 43C105.459 54.3371 87.612 90.3414 112.018 119.376C146.52 110.929 159.188 67.9745 134 43Z" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M38.3999 85.4221C66.0802 70.6592 105.69 89.2486 109.5 121C79.4762 140.241 38.5706 123.617 38.3999 85.4221Z" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M132 264.2C132.6 263.8 183.7 221.6 183.7 221.6M183.7 221.6C183.7 221.6 238.5 126.2 325.6 116.7L199.5 240.5M183.7 221.6C182.5 227.5 187.5 235.061 199.5 240.5M154.9 284.9L199.5 240.5" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M78.4004 213.1L187.1 116.8L215.8 68.2L248.2 39.6" stroke-width="7" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M102.4 236.6L201.9 134.5L252.6 107.9L284.4 80.5" stroke-width="7" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M217 69L251.3 106.9" stroke-width="7" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M229.6 81.6L262.1 52.5" stroke-width="7" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M241 93.7L274.1 65.4" stroke-width="7" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M187.7 118.7L200.5 133.4" stroke-width="7" stroke-miterlimit="10"/>
				<path d="M109.5 121L67.5 101" stroke-width="8"/>
				<path d="M109.5 121L125.5 77.5" stroke-width="8"/>
			</svg>				
			<h3>DETALLE</h3>
		</div>
	</section>
	<section class="rel company">
		<div class="abs gallery fcc">
			<Image width={top1.width/2} densities={[1,2]} src={top1} alt="Calidad" format="avif" quality="50"/>
			<Image width={top2.width/2} densities={[1,2]} src={top2} alt="Calidad" format="avif" quality="50"/>
			<Image width={top3.width/2} densities={[1,2]} src={top3} alt="Calidad" format="avif" quality="50"/>
			<Image width={top4.width/2} densities={[1,2]} src={top4} alt="Calidad" format="avif" quality="50"/>
		</div>
		<div class="cont">
			<h1>Nuestra Compañía</h1>
			<div class="cols">
				<article class="fcol fc">
					<h1>Visión</h1>
					<p>Nuestra visión en Sol Naciente es ser la empresa líder en el mercado, brindando servicios de alimentación de excelente calidad, tanto a nivel nacional como internacional, en concesionarios, catering y cafeterías institucionales.</p>
				</article>
				<div class="separator"></div>
				<article class="fcol fc">
					<h1>Misión</h1>
					<p>En Sol Naciente, trabajamos con un solo propósito: ser reconocidos como la mejor empresa de alimentación, proporcionando alimentos seguros y de alta calidad para satisfacer las necesidades de nuestros clientes.</p>
				</article>
			</div>
		</div>
	</section>
</Layout>

<style>
	.text {
		gap: 32px;
		padding: 64px;
		text-align: end;
	}
	.text h1 {
		text-align: end;
	}
	.two {
		display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
		background: var(--peach);
	}
	.two .rel {
		height: 100%;
	}
	.deco {
		top: 0;
		width: 100%;
    height: auto;
	}
	.color {
		inset: 0;
		background: linear-gradient(0, #f8ab2100 50%, #f8ab2159);
	}
	.hero img {
		filter: brightness(0.75);
		width: 100%;
		height: 87vh;
	}	
	.valores {
		padding: 64px 32px;
		gap: 96px;
		color: white;
		background: var(--yellow);
	}
	.valores .fcol {
		gap: 1em;
	}
	.valores svg {
		width: 16vw;
		height: 300px;
	}
	.gallery {
		overflow: hidden;
		gap: 1em;
		left: 0;
		right: 0;
		top: -200px;
	}
	.gallery img:nth-child(2n - 1) {
		transform: translateY(32px);
	}
	.gallery img:nth-child(2n) {
		transform: translateY(-32px);
	}
	.valores img {
		width: 110px;
		height: 86px;
		aspect-ratio: unset;
	}
	h1 {
		font-family: 'Poppins';
	}
	h3 {
		margin: 0;
		text-align: center;
	}
	.cont {
		overflow: hidden;
		margin-top: 312px;
		background: var(--peach);
		padding-bottom: 64px;
		border-bottom: 32px solid var(--brown);
	}
	.cont>h1 {
		font-family: 'Dancing Script';
		padding: 256px 32px 64px;
	}
	.separator {
		background: var(--brown);
		height: 100%;
		width: 2px;
	}
	.cols {
		display: grid;
		grid-template-columns: 1fr 2px 1fr;
		gap: 64px;
		margin: auto;
		padding: 32px;
		max-width: 1080px;
	}
	article {
		text-align: center;
		gap: 0.5em;
	}
	@media (max-width: 960px) {
		.text {
			gap: 16px;
			padding: 32px;
		}
		.valores {
			gap: 64px;
		}
	}
	@media (max-width: 700px) {
		.hero img {
			height: 320px;
		}
		.valores {
			flex-direction: column;
		}
		.valores .fcol {
			width: 100%;
		}
		.valores h3 {
			font-size: 32px;
		}
		.valores svg {
			width: 100%;
			height: auto;
		}
		.cols {
			grid-template-columns: 1fr;
			padding: 32px 16px;
		}
		.two {
			grid-template-columns: 1fr;
		}
		.text {
			align-items: center;
			text-align: center;
			padding: 64px 16px;
		}
		.text h1 {
			text-align: center;
		}
		.cont>h1 {
			font-size: 48px;
		}
		.cont {
			border-bottom: 16px solid var(--brown);
		}
		.separator {
			height: 2px;
			width: 100%;
		}
	}
</style>
