---
import Layout from "../layouts/Layout.astro";
import { createClient } from '@vercel/kv';
const { KV_REST_API_URL, KV_REST_API_TOKEN } = import.meta.env;

const kv = createClient({
  url: KV_REST_API_URL,
  token: KV_REST_API_TOKEN,
});


const title = "Sol Naciente | Cotización";
const descr = "Solicita tu cotización personalizada en Sol Naciente. Fácil, rápido y adaptado a tus necesidades en alimentación corporativa y eventos.";
const phone = await kv.get('phone') as string;
---

<Layout {title} {descr}>
	<article class="fcol fc">
		<section class="fcol fc">
			<h1>Cotizaciones</h1>
			<p>En <strong>Sol Naciente</strong> estamos para servirle. Dejenos sus datos y nos pondremos en contacto con usted rápidamente.</p>
		</section>
		<section class="form fcol fc">
			<label for="name">
				<span>Nombre</span>
				<input type="text" name="name" id="name" placeholder="José Perez Rodriguez" required>
			</label>
			<label for="company">
				<span>Compañía</span>
				<input type="text" name="company" id="company" placeholder="Asociación de Ejemplo" required>
			</label>
			<label for="msg">
				<span>Asunto</span>
				<textarea name="msg" id="msg" rows="3" placeholder="Buenas, me interesaría saber el precio del servicio de almuerzo ejecutivo para una empresa de 45 trabajadores."></textarea>
			</label>
			<button id="send" class="btn btn-brown" type="submit">Enviar</button>
		</section>
	</article>
	<script is:inline define:vars={{phone}}>
		const btn = document.getElementById("send") 
		const name_input = document.getElementById("name")
		const company_input = document.getElementById("company") 
		const msg_input = document.getElementById("msg")

		btn.addEventListener("click", () => {
			const name = name_input.value;
			const company = company_input.value;
			const msg = msg_input.value;

			const whatsappMessage = `Hola, mi nombre es ${name} de la compañía ${company}. ${msg}`;
						
			const whatsappURL = `https://api.whatsapp.com/send?phone=51${phone}&text=${encodeURIComponent(whatsappMessage)}`;
			
			window.open(whatsappURL, '_blank');
		})
	</script>
</Layout>

<style>
	article {
		padding: 128px 32px;
		text-align: center;
		gap: 128px;
	}
	section {
		gap: 32px;
	}
	p {
		max-width: 55ch;
	}
	.form {
		max-width: 36ch;
		width: 100%;
	}
	input,textarea, label {
		width: 100%;
	}
	.btn {
		background: var(--brown);
	}
	@media (max-width: 960px) {

	}
	@media (max-width: 700px) {
		article {
			padding: 64px 16px;
			gap: 64px;
		}
	}
</style>
