---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";

import bg from "../images/coldplay.jpg";

import img1 from "../images/us/img1.png";
import img2 from "../images/us/img2.png";
import img3 from "../images/us/img3.png";
import img4 from "../images/us/img4.png";

import top1 from "../images/us/top1.png";
import top2 from "../images/us/top2.png";
import top3 from "../images/us/top3.png";
import top4 from "../images/us/top4.png";

const title = "Sol Naciente | Nosotros";
const descr = "...";
---

<Layout {title} {descr}>
	<section class="hero rel">
		<div class="two">
			<div class="rel">
				<Image width={bg.width/2} densities={[1,2]} src={bg} alt="Chefs" format="avif" quality="50"/>
				<div class="color abs"></div>
			</div>
			<div class="fcol text">
				<h1>¿Quiénes Somos?</h1>
				<p>Ofrecemos servicios de catering de alta calidad, adaptados a las necesidades específicas de las minas.</p> 
				<p>Desde almuerzos nutritivos para trabajadores hasta eventos especiales para ejecutivos, nos esforzamos 
					por brindar una experiencia gastronómica excepcional en entornos desafiantes.</p>
			</div>
		</div>
		<svg class="deco abs do" width="1240" height="40" viewBox="0 0 1240 40" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0C186.083 25.577 396.792 40 620 40C843.208 40 1053.92 25.577 1240 0H0Z" fill="white"/>
		</svg>
		<svg class="deco abs mo" width="1240" height="80" viewBox="0 0 1240 80" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0C186.083 51.154 396.792 80 620 80C843.208 80 1053.92 51.154 1240 0H0Z" fill="white"/>
		</svg>
	</section>
	<section class="valores fcc">
		<div class="fcol fc">
			<Image width={img1.width/2} densities={[1,2]} src={img1} alt="Calidad" format="avif" quality="50"/>
			<h3>CALIDAD</h3>
		</div>
		<div class="fcol fc">
			<Image width={img2.width/2} densities={[1,2]} src={img2} alt="Calidad" format="avif" quality="50"/>
			<h3>ADAPTABLE</h3>
		</div>
		<div class="fcol fc">
			<Image width={img3.width/2} densities={[1,2]} src={img3} alt="Calidad" format="avif" quality="50"/>
			<h3>SEGURO</h3>
		</div>
		<div class="fcol fc">
			<Image width={img4.width/2} densities={[1,2]} src={img4} alt="Calidad" format="avif" quality="50"/>
			<h3>DETALLE</h3>
		</div>
	</section>
	<section class="rel company">
		<div class="abs gallery fcc">
			<Image width={top1.width/2} densities={[1,2]} src={top1} alt="Calidad" format="avif" quality="50"/>
			<Image width={top2.width/2} densities={[1,2]} src={top2} alt="Calidad" format="avif" quality="50"/>
			<Image width={top3.width/2} densities={[1,2]} src={top3} alt="Calidad" format="avif" quality="50"/>
			<Image width={top4.width/2} densities={[1,2]} src={top4} alt="Calidad" format="avif" quality="50"/>
		</div>
		<div class="cont">
			<h1>Nuestra Compañía</h1>
			<div class="cols">
				<article class="fcol fc">
					<h1>Visión</h1>
					<p>Nuestra visión en Sol Naciente es ser la empresa líder en el mercado, brindando servicios de alimentación de excelente calidad, tanto a nivel nacional como internacional, en concesionarios, catering y cafeterías institucionales.</p>
				</article>
				<div class="separator"></div>
				<article class="fcol fc">
					<h1>Misión</h1>
					<p>En Sol Naciente, trabajamos con un solo propósito: ser reconocidos como la mejor empresa de alimentación, proporcionando alimentos seguros y de alta calidad para satisfacer las necesidades de nuestros clientes.</p>
				</article>
			</div>
		</div>
	</section>
</Layout>

<style>
	.text {
		gap: 32px;
		padding: 64px;
		text-align: end;
	}
	.text h1 {
		text-align: end;
	}
	.two {
		display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
		background: var(--peach);
	}
	.two .rel {
		height: 100%;
	}
	.deco {
		top: 0;
		width: 100%;
    height: auto;
	}
	.color {
		inset: 0;
		background: linear-gradient(0, #f8ab2100 50%, #f8ab2159);
	}
	.hero img {
		filter: brightness(0.75);
		width: 100%;
		height: 87vh;
	}	
	.valores {
		padding: 64px 32px;
		gap: 96px;
		color: white;
		background: var(--yellow);
	}
	.valores .fcol {
		gap: 1em;
	}
	.gallery {
		overflow: hidden;
		gap: 1em;
		left: 0;
		right: 0;
		top: -200px;
	}
	.gallery img:nth-child(2n - 1) {
		transform: translateY(16px);
	}
	.gallery img:nth-child(2n) {
		transform: translateY(-16px);
	}
	.valores img {
		width: 110px;
		height: 86px;
		aspect-ratio: unset;
	}
	h1 {
		font-family: 'Poppins';
	}
	h3 {
		margin: 0;
		text-align: center;
	}
	.cont {
		overflow: hidden;
		margin-top: 312px;
		background: var(--peach);
	}
	.cont>h1 {
		font-family: 'Dancing Script';
		padding: 256px 32px 64px;
	}
	.separator {
		background: var(--brown);
		height: 100%;
		width: 2px;
	}
	.cols {
		display: grid;
		grid-template-columns: 1fr 2px 1fr;
		gap: 64px;
		margin: auto;
		padding: 32px;
		max-width: 1080px;
	}
	article {
		text-align: center;
		gap: 0.5em;
	}
	@media (max-width: 960px) {
		.text {
			gap: 16px;
			padding: 32px;
		}
		.valores {
			gap: 32px;
		}
	}
	@media (max-width: 700px) {
		.hero img {
			height: 320px;
		}
		.valores {
			flex-direction: column;
		}
		.valores .fcol {
			width: 100%;
		}
		.valores img {
			width: 100%;
    	height: auto;
		}
		.cols {
			grid-template-columns: 1fr;
			padding: 32px 16px;
		}
		.two {
			grid-template-columns: 1fr;
		}
		.text {
			align-items: center;
			text-align: center;
			padding: 64px 16px;
		}
		.text h1 {
			text-align: center;
		}
		.cont>h1 {
			font-size: 48px;
		}
		.separator {
			height: 2px;
			width: 100%;
		}
	}
</style>
