---
import { Image } from "astro:assets";

interface Props {
	src: ImageMetadata;
	title: string;
	text: string;
	btn: string;
	href: string;
}

const { src, title, text, btn, href } = Astro.props;
---

<article>
	<div class="img">
		<Image {src} alt="wasa"/>
	</div>
	<section class="fcol fc g4 py6 px12">
		<h1 class="h2">{title}</h1>
		<p>{text}</p>
		<a {href} class="btn btn-outline">{btn}</a>
	</section>
</article>

<style>
	img {
		width: 100%;
		aspect-ratio: 16 / 9;
		height: auto;
		filter: brightness(0.8);
	}
	article, img {
		border-radius: 1.5em;
	}
	article {
		background: var(--otro);
		text-align: center;
		font-size: 21px;
		line-height: 1.5;
	}
</style>